.text {
    -webkit-font-smoothing: antialiased;
    size: 1.5em;
    color: white;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5); 
    font-family: 'LibertyWalk', sans-serif;
}

#game-controls {
    background-color: gray;
    border-radius: 0.7em;
    margin-bottom: 1em;
    padding: 1em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);  
    text-align: center;
}

#game-info {
    background-color: gray;
    border-radius: 0.7em;
    padding: 1em;
    padding-left: 0.5em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);  
    text-align: center;
}

    
html, body {
    height: 100%;
    min-width: 600px;
    margin: 0;
    display: flex;
    justify-content: center;  
    align-items: center;
    background-color: gray; 
  }
  
  body {
    width: 100%;
    margin: 0;  
    background-image: url('images/jdmFlag.png');  
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;

}

#game-board {
    display: grid;
    gap: 1em;
    justify-content: center;
    margin-top: 1em;
}

.card {
    width: 100px;            
    height: 100px;           
    position: relative;      
    display: flex;           
    align-items: center;     
    justify-content: center; 
    background-color: #fff;  
    overflow: hidden;           
    border-radius: 0.7em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);  
    background-image: url('images/LBWKLogo.png');   
    background-size: cover; 
    background-position: center; 
}


.card.flipped {
    box-shadow: 0 0 10em rgba(255, 255, 255, 0.5); 
    border: rgba(0, 0, 0, 0); 
}

.card.matched {
    opacity: 50%;
    cursor: not-allowed;
}

.card img {
    max-width: 100%;         
    max-height: 100%;        
    object-fit: contain;     
}

@font-face {
    font-family: 'LibertyWalk'; 
    src: url('font/BADABB__.TTF') format('truetype'),
         url('font/BADABB__.woff') format('woff'),
         url('font/BADABB__.TTF') format('truetype');
    font-weight: normal; 
  }

  #restart{
    background-color: black;
    border: none;
    border-radius: 0.5em;
    padding: 0.2em;
    padding-inline: 0.5em;
  }

   #restart:hover{
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    border-radius: 0.5em;
    padding: 0.2em;
    padding-inline: 0.5em;
  }

  #grid-size{
    background-color: black;
    border: none;
    border-radius: 0.5em;
    padding: 0.2em;
    padding-inline: 0.5em;
  }
  
  #grid-size:hover{
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    border-radius: 0.5em;
    padding: 0.2em;
    padding-inline: 0.5em;
  }
